@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(https://fonts.googleapis.com/css2?family=Kufam:wght@400;600;700);

#slideshow {
	position: relative;
	padding: 10px 10px 10px 10px ;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
  
#slideshow > div {
	position: relative;
}

.kotak{
	max-width: 100%;
	max-height: 100%;
	display: block; /* remove extra space below image */
}


/* Slider End */

body {
	background: #f4f4f4;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

hr {
	border:0;
	background:#dedede;
	height:1px;
}		

main {
	width: 1300px;
	min-height: 50px;
	max-height: auto;
	margin:50px auto;
}

nav.menu ul {
	width: auto;
	text-align: left;
    top: 0px;
	overflow:hidden;
	color:#262d71;
	list-style: none;
	margin:0 0 0 0;
	background: rgba(255,255,255,0.7);
}

nav.menu ul li {
	margin:0px 0px 0px 0px;
	float:left;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.55);
}

nav.menu ul a {
	display: flex;
	font-weight: 800;
	font-size: 20px;
	color:#262d71;
	text-transform: uppercase;
	transition: all 1.0s ease;
	text-decoration: none;
	padding: 25px;
}

nav.menu ul a:hover {
	font-weight: 800;
	font-size: 24px;
	height: 40px;
	background:#ff9900;
	color:#f4f4f4;
	text-decoration: none;
	border-top: 5px solid #ffd000;
}

.logos {
	pointer-events: none;
}

.logo{
	height: 45px;
}

.sidebar {
	float:right;
	width:320px;
}

.sidebar .widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	transition: all 1.0s ease;
	border: 1px solid #dedede;
}

.sidebar .widget:hover {
	border-bottom: 5px solid #262d71;
	-webkit-box-shadow: 5px 6px 38px -21px rgba(0,0,0,0.6);
	-moz-box-shadow: 5px 6px 38px -21px rgba(0,0,0,0.6);
	box-shadow: 5px 6px 38px -21px rgba(0,0,0,0.6);
}

.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#1a1c20;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}

.sidebar .widget p {
	font-size: 18px;
}

.sidebar .widget p:last-child {
	margin:0;
}

#content {
	float:left;
}

article {
	width:900px;
	padding:25px;
	background: #fff;
	border:1px solid #dedede;
	transition: all 0.5s ease;
}

article:hover{
	border-bottom: 5px solid #f46b1b;
	-webkit-box-shadow: 5px 6px 38px -21px rgba(0,0,0,0.6);
	-moz-box-shadow: 5px 6px 38px -21px rgba(0,0,0,0.6);
	box-shadow: 5px 6px 38px -21px rgba(0,0,0,0.6);
}

article img {
	min-width: 950px;
	margin:0 25px 25px -25px;
	max-width: 650px;
}

article h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: bold;
	color: #f46b1b;
	font-family: Kufam;
}

article p:last-child {
	margin: 0;
}

article .lanjutkan {
	color:#000;
	background: #dedede;
	margin-top: 0em;
	padding: 10px;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700; 
	text-align: end;
}

article .lanjutkan:hover {
	margin-right:10px;
	color:#fff;
	background: #f46b1b;
}

.post-info {
	float: left;
	font-size: 16px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

footer{
	padding-top : 30px;
	display: flex;
	width: 100%;
	align-items:center;
	align-content:center;
	background-color:rgba(255,255,255,0.0);
	color: #1a1c20;
	justify-content: center;
}

.foo{
	width: 24px;
	padding : 3px;
}

.foto{
	width: 150px;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	align-content: center;
	align-items:center;
	justify-content: center;
}

@media screen and (max-width: 960px) {

	main {
		width: 95%;
		margin: 25px auto;
	}
	.sidebar {
		width:100%;
		margin: 25px auto;
		float:right;
	}

	.sidebar .widget {
		padding:5%;
	}

	nav.menu ul {
		width: 100%;
	}

	nav.menu ul {
		float:inherit;
	}

	nav.menu ul li {
		float:inherit;
		margin:0;
	}

	nav.menu ul a {
		padding:15px;
		font-size: 16px;
		border-top:1px solid #f0a500;
		border-bottom:1px solid #cf7500;
	}

	.article {
		float:inherit;
		margin:0 auto 25px;
		width:90%;
		border:1px solid #dedede;
		padding:5%;  
		background: #fff;
	}

	.article img {
		max-width: 110%;
		margin:0 0 25px -5%;
		min-width: 110%;
	}

	.article .lanjutkan:hover {
		margin-left:0;
	}

	.maps{
		max-width: 100%;
	}

}

@media screen and (max-width: 460px) {

	nav.menu ul a {
		font-size: 14px;
	}

	.sidebar {
		display:none
	}
	.post-info {
		display:none;
	}

	.article {
		margin:25px auto;
	}

	.article img {
		margin:-5% 0 25px -5%;
	}

	footer{
		font-size: 14px;
		align-items: center;
		justify-content: center;
	}		
}

